.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url(https://live.staticflickr.com/3178/2536368510_95f3597a3e_b.jpg)  center center / cover no-repeat;;
}
#thirdDiv {
    height:600px;
    width:500px;
    background-color:cornflowerblue;
    padding: 5px;
    border-color: grey;
    border: 20px;
    border-style: groove;
    margin: 50px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}